<div class="container">
    <div class="card-group">
  
        <div class="card">
          <div class="card-body">
            <div class="card-header row">
              <div class=" col-6  justify-content-start">
                  <i class="fas fa-heart ">&hearts;</i>
              </div>
              <div class=" col-6 d-flex justify-content-end">
                  <b>C</b>
              </div>
          </div>
            <img class="card-body w-100 h-100"  src="C:\Users\Hp\Desktop" alt="Card image">
            </div>
            <div class="card-footer">
                <button type="button" (click)="follow()" class="btn btn-primary ">follow</button> &nbsp; <button class="btn btn-primary" (click)="unfollow()" type="button" formaction="unfollow.html">Unfollow</button><br>
            </div>
          </div> &nbsp;
         
          <div class="card">

              <div class="card-body">
                <div class="card-header row">
                  <div class=" col-6  justify-content-start">
                      <i class="fas fa-heart ">&hearts;</i>
                  </div>
                  <div class=" col-6 d-flex justify-content-end">
                      <b>C</b>
                  </div>
              </div>
              
            <img class="card-body w-100 h-100"  src="C:\Users\Hp\Desktop" alt="Card image">
            </div>
            <div class="card-footer">
                <button type="button" formaction="follow.html"class="btn btn-primary ">follow</button> &nbsp; <button class="btn btn-primary" type="button" formaction="unfollow.html">Unfollow</button><br>
            </div>
          </div>
          &nbsp;
          <div class="card">
            <div class="card-body">
              <div class="card-header row">
                <div class=" col-6  justify-content-start">
                    <i class="fas fa-heart ">&hearts;</i>
                </div>
                <div class=" col-6 d-flex justify-content-end">
                    <b>C</b>
                </div>
            </div> 
              <img class="card-body w-100 h-100"  src="C:\Users\Hp\Desktop" alt="Card image">
            </div>
            <div class="card-footer">
                <button type="button" formaction="follow.html"class="btn btn-primary ">follow</button> &nbsp; <button class="btn btn-primary" type="button" formaction="unfollow.html">Unfollow</button><br>
            </div>
          </div>&nbsp;
          <div class="card">
              <div class="card-body">
                <div class="card-header row">
                  <div class=" col-6  justify-content-start">
                      <i class="fas fa-heart ">&hearts;</i>
                  </div>
                  <div class=" col-6 d-flex justify-content-end">
                      <b>C</b>
                  </div>
              </div>
              
                <img class="card-body w-100 h-100"  src="C:\Users\Hp\Desktop" alt="Card image">
              </div>
              <div class="card-footer">
                <button type="button" formaction="follow.html"class="btn btn-primary ">follow</button> &nbsp; <button class="btn btn-primary" type="button" formaction="unfollow.html">Unfollow</button><br>
            </div>
            </div>&nbsp;
            <div class="card">
              <div class="card-body">
                <div class="card-header row">
                  <div class=" col-6  justify-content-start">
                      <i class="fas fa-heart ">&hearts;</i>
                  </div>
                  <div class=" col-6 d-flex justify-content-end">
                      <b>C</b>
                  </div>
              </div>
              
                <img class="card-body w-100 h-100"  src="C:\Users\Hp\Desktop" alt="Card image">
              </div>
              <div class="card-footer">
                <button type="button" formaction="follow.html"class="btn btn-primary ">follow</button> &nbsp; <button class="btn btn-primary" type="button" formaction="unfollow.html">Unfollow</button><br>
            </div>
            </div>
    </div>
</div><br>
<div class="container">
    <div class="card-group" style="width: 100%" >
  
        <div class="card ">
          <div class="card-body">
            <div class="card-header row">
              <div class=" col-6  justify-content-start">
                  <i class="fas fa-heart ">&hearts;</i>
              </div>
              <div class=" col-6 d-flex justify-content-end">
                  <b>C</b>
              </div>
          </div>
            <img class="card-body w-100 h-100"  src="C:\Users\Hp\Desktop" alt="Card image">
            </div>
            <div class="card-footer">
                <button type="button" formaction="follow.html"class="btn btn-primary ">follow</button> &nbsp; <button class="btn btn-primary" type="button" formaction="unfollow.html">Unfollow</button><br>
            </div>
          </div> &nbsp;
         
          <div class="card">

              <div class="card-body">
                <div class="card-header row">
                  <div class=" col-6  justify-content-start">
                      <i class="fas fa-heart ">&hearts;</i>
                  </div>
                  <div class=" col-6 d-flex justify-content-end">
                      <b>C</b>
                  </div>
              </div>
              
            <img class="card-body w-100 h-100"  src="C:\Users\Hp\Desktop" alt="Card image">
            </div>
            <div class="card-footer">
                <button type="button" formaction="follow.html"class="btn btn-primary ">follow</button> &nbsp; <button class="btn btn-primary" type="button" formaction="unfollow.html">Unfollow</button><br>
            </div>
          </div>
          &nbsp;
          <div class="card">
            <div class="card-body">
              <div class="card-header row">
                <div class=" col-6  justify-content-start">
                    <i class="fas fa-heart ">&hearts;</i>
                </div>
                <div class=" col-6 d-flex justify-content-end">
                    <b>C</b>
                </div>
            </div>
            
              <img class="card-body w-100 h-100"  src="C:\Users\Hp\Desktop" alt="Card image">
            </div>
            <div class="card-footer">
                <button type="button" formaction="follow.html"class="btn btn-primary ">follow</button> &nbsp; <button class="btn btn-primary" type="button" formaction="unfollow.html">Unfollow</button><br>
            </div>
          </div>&nbsp;
          <div class="card">
              <div class="card-body">
                <div class="card-header row">
                  <div class=" col-6  justify-content-start">
                      <i class="fas fa-heart ">&hearts;</i>
                  </div>
                  <div class=" col-6 d-flex justify-content-end">
                      <b>C</b>
                  </div>
              </div>
              
                <img class="card-body w-100 h-100"  src="C:\Users\Hp\Desktop" alt="Card image">
              </div>
              <div class="card-footer">
                <button type="button" formaction="follow.html"class="btn btn-primary ">follow</button> &nbsp; <button class="btn btn-primary" type="button" formaction="unfollow.html">Unfollow</button><br>
            </div>
            </div>&nbsp;
            <div class="card">
              <div class="card-body">
                <div class="card-header row">
                  <div class=" col-6  justify-content-start">
                      <i class="fas fa-heart ">&hearts;</i>
                  </div>
                  <div class=" col-6 d-flex justify-content-end">
                      <b>C</b>
                  </div>
              </div>
              
                <img class="card-body w-100 h-100"  src="C:\Users\Hp\Desktop" alt="Card image">
              </div>
              <div class="card-footer">
                <button type="button" formaction="follow.html"class="btn btn-primary ">follow</button> &nbsp; <button class="btn btn-primary" type="button" formaction="unfollow.html">Unfollow</button><br>
            </div>
            </div>
    </div>
</div>