

          <div>
            <div class=" row form-group">
             <label class="col-sm-3">UserName</label>
              <div class="col-sm-3">
                 <input type="text" class="form-control form-control-sm"  placeholder="UserName">
             </div>
             <div class="col-sm-4">
                <input style="background-color:blueviolet;" type="button" class="form-control form-control-sm btn  w-50" value="Check">
            </div>
             <div class="col-sm-2">
             </div>
         </div>
         <div class="form-group row">
             <label class="col-sm-3">Password</label>
             <div class="col-sm-3">
                 <input type="password" class="form-control form-control-sm"  placeholder="Password">
             </div>
             <div class="col-sm-6">
             </div>
         </div>
         <div class="form-group row">
            <label class="col-sm-3">RepeatPassword</label>
            <div class="col-sm-3">
                <input type="password" class="form-control form-control-sm" placeholder="Re-Type Password">
            </div>
            <div class="col-sm-6">

            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3">Email</label>
            <div class="col-sm-3">
                <input type="email" class="form-control form-control-sm" placeholder="Email id">
            </div>
            <div class="col-sm-6">

            </div>
        </div>
        <div class="form-group row">
            <div class="offset-3 col-sm-9">
                <input [routerLink]="['/login']" style="background-color: blueviolet;" type="button" class="form-control form-control-sm btn  w-25" value="Register">
            </div>
        </div>
</div> 




