<p>mymedia works!</p>
<div class="container">
    <div class="card-group">
  
        <div class="card">
          <div class="card-body"> 
            <div class="card-header row">
              <div class=" col-6  justify-content-start">
                  <i class="fas fa-heart ">&hearts;</i>
              </div>
              <div class=" col-6 d-flex justify-content-end">
                  <b>C</b>
              </div>
          </div>
            <a [routerLink]="['/singleimage']">
              <img class="card-body w-100 h-100" src="/assets/profile.jpg" alt="Card image">
            </a>
          </div>
            <div class="card-footer h6">Emojis</div>
          </div> &nbsp;
         
          <div class="card">

              <div class="card-body">
                <div class="card-header row">
                  <div class=" col-6  justify-content-start">
                      <i class="fas fa-heart ">&hearts;</i>
                  </div>
                  <div class=" col-6 d-flex justify-content-end">
                      <b>C</b>
                  </div>
              </div>
              
            <img class="card-body w-100 h-100" src="/assets/vijay.jpg" alt="Card image">
            </div>
            <div class="card-footer h6">Emojis</div>
          </div>
          &nbsp;
          <div class="card">
            <div class="card-body">
              <div class="card-header row">
                <div class=" col-6  justify-content-start">
                    <i class="fas fa-heart ">&hearts;</i>
                </div>
                <div class=" col-6 d-flex justify-content-end">
                    <b>C</b>
                </div>
            </div> 
              <img class="card-body w-100 h-100" src="/assets/profile.jpg" alt="Card image">
            </div>
            <div class="card-footer h6">Emojis</div>
          </div>&nbsp;
          <div class="card">
              <div class="card-body">
                <div class="card-header row">
                  <div class=" col-6  justify-content-start">
                      <i class="fas fa-heart ">&hearts;</i>
                  </div>
                  <div class=" col-6 d-flex justify-content-end">
                      <b>C</b>
                  </div>
              </div>
              
                <img class="card-body w-100 h-100" src="/assets/prabhas.jpg" alt="Card image">
              </div>
              <div class="card-footer h6">Emojis</div>
            </div>&nbsp;
            <div class="card">
              <div class="card-body">
                <div class="card-header row">
                  <div class=" col-6  justify-content-start">
                      <i class="fas fa-heart ">&hearts;</i>
                  </div>
                  <div class=" col-6 d-flex justify-content-end">
                      <b>C</b>
                  </div>
              </div>
              
                <img class="card-body w-100 h-100" src="/assets/profile.jpg" alt="Card image">
              </div>
              <div class="card-footer h6">Emojis</div>
            </div>
    </div>
</div><br>
<div class="container">
    <div class="card-group" style="width: 100%" >
  
        <div class="card ">
          <div class="card-body">
            <div class="card-header row">
              <div class=" col-6  justify-content-start">
                  <i class="fas fa-heart ">&hearts;</i>
              </div>
              <div class=" col-6 d-flex justify-content-end">
                  <b>C</b>
              </div>
          </div>
            <img class="card-body w-100 h-100" src="/assets/flower.jpeg" alt="Card image">
            </div>
            <div class="card-footer h6">Emojis</div>
          </div> &nbsp;
         
          <div class="card">

              <div class="card-body">
                <div class="card-header row">
                  <div class=" col-6  justify-content-start">
                      <i class="fas fa-heart ">&hearts;</i>
                  </div>
                  <div class=" col-6 d-flex justify-content-end">
                      <b>C</b>
                  </div>
              </div>
              
            <img class="card-body w-100 h-100" src="/assets/profile.jpg" alt="Card image">
            </div>
            <div class="card-footer h6">Emojis</div>
          </div>
          &nbsp;
          <div class="card">
            <div class="card-body">
              <div class="card-header row">
                <div class=" col-6  justify-content-start">
                    <i class="fas fa-heart ">&hearts;</i>
                </div>
                <div class=" col-6 d-flex justify-content-end">
                    <b>C</b>
                </div>
            </div>
            
              <img class="card-body w-100 h-100" src="/assets/profile.jpg" alt="Card image">
            </div>
            <div class="card-footer h6">Emojis</div>
          </div>&nbsp;
          <div class="card">
              <div class="card-body">
                <div class="card-header row">
                  <div class=" col-6  justify-content-start">
                      <i class="fas fa-heart ">&hearts;</i>
                  </div>
                  <div class=" col-6 d-flex justify-content-end">
                      <b>C</b>
                  </div>
              </div>
              
                <img class="card-body w-100 h-100" src="/assets/profile.jpg" alt="Card image">
              </div>
              <div class="card-footer h6">Emojis</div>
            </div>&nbsp;
            <div class="card">
              <div class="card-body">
                <div class="card-header row">
                  <div class=" col-6  justify-content-start">
                      <i class="fas fa-heart ">&hearts;</i>
                  </div>
                  <div class=" col-6 d-flex justify-content-end">
                      <b>C</b>
                  </div>
              </div>
              
                <img class="card-body w-100 h-100" src="/assets/profile.jpg" alt="Card image">
              </div>
              <div class="card-footer h6">Emojis</div>
            </div>
    </div>
</div>